@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- <script src="lib/jquery/dist/jquery.js"></script>
<script src="js/signalr-client.js"></script>
<script src="js/site.js" -->

<h1>Hello.</h1>

<div id="entrance">
    <label for="nick">Enter your nickname:</label>
    <input type="text" id="nick"/>
    <button onclick="continueToChat()">Continue</button>
</div>

<div id="chat" style="display:none">
    <h4>Send a message, dear <span id="spn-nick"></h4>
    <form id="form-send-message" action="#">
        <label for "message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" class="send"/>
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>
